<!DOCTYPE html>
<html>
<head>
    <title>簡易記帳</title>
    <style>
            .flash-message {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #f8f8f8;
            border: 1px solid #ddd;
            padding: 10px;
            text-align: center;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            z-index: 9999;
        }

        .flash-message p {
            margin: 0;
            padding: 5px 10px;
        }

        .hide-flash {
            display: none;
        }
    </style>
</head>
<body>
    <h1>簡易記帳</h1>
    
    <form method="POST" action="/expense">
        <label for="date">日期:</label>
        <input type="date" id="date" name="date">
        <label for="record_type">類型:</label>
        <select id="record_type" name="record_type">
            <option value="income">收入</option>
            <option value="expense">支出</option>
        </select>
        
        <br><br>
    
        <div id="category_div" style="display: none;">
            <label for="category">分類:</label>
            <select id="category" name="category">
                <option value="食">食</option>
                <option value="衣">衣</option>
                <option value="住">住</option>
                <option value="行">行</option>
                <option value="育">育</option>
                <option value="樂">樂</option>
            </select>
        </div>
        
        <br><br>
        
        <label for="note">備註:</label>
        <input type="text" id="note" name="note">
        
        <br><br>
        
        <label for="amount">金額:</label>
        <input type="number" id="amount" name="amount">
        
        <br><br>
        
        <input type="submit" value="新增">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="flash-message">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    </form>

    
    <br>
    
    <h2>月總額: {{ total_amount }}</h2>
    <h2>損益: {{ profit_loss }}</h2>
    <h3>記帳紀錄:</h3>
    <ul>
        {% for expense in expenses %}
            {% if expense[3] >= 0 %}
                <li>日期：{{ expense[5] }}（收）&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;金額：{{ expense[3] }}&nbsp;&nbsp;&nbsp;&nbsp;備註：{{ expense[4] }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button type="button" onclick="editExpense({{ expense[0] }})">編輯</button>&nbsp;&nbsp;&nbsp;<button type="submit"  onclick="deleteExpense({{ expense[0] }})">刪除</button></li>
            {% else %}
                <li>日期：{{ expense[5] }}（支）種類：{{ expense[2] }}&nbsp;&nbsp;&nbsp;&nbsp;金額：{{ expense[3]|abs }}&nbsp;&nbsp;&nbsp;&nbsp;備註：{{ expense[4] }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button type="button" onclick="editExpense({{ expense[0] }})">編輯</button>&nbsp;&nbsp;&nbsp;<button type="submit" onclick="deleteExpense({{ expense[0] }})">刪除</button>
                </li></li>
            {% endif %}
        {% endfor %}
    </ul>
    
    
    <script>
        function editExpense(expenseId) {
            // 導航到編輯頁面
            window.location.href = "/edit_expense/" + expenseId;
        }
    </script>
    

    <script>
        function deleteExpense(expenseId) {
            if (confirm("確定要刪除該筆記帳紀錄嗎？")) {
                // 提交表單到 `/delete_expense/<expense_id>` 路由
                var form = document.createElement("form");
                form.method = "POST";
                form.action = "/delete_expense/" + expenseId;

                document.body.appendChild(form);
                form.submit();
            }
        }
    </script>

    <script>
        // JavaScript 部分：根據選擇的類型，顯示或隱藏種類選項
        var recordTypeSelect = document.getElementById("record_type");
        var categoryDiv = document.getElementById("category_div");

        recordTypeSelect.addEventListener("change", function() {
            if (recordTypeSelect.value === "expense") {
                categoryDiv.style.display = "block";
            } else {
                categoryDiv.style.display = "none";
            }
        });
        document.addEventListener('DOMContentLoaded', function() {
        var flashMessage = document.querySelector('.flash-message');
        if (flashMessage) {
            flashMessage.classList.remove('hide-flash');
            setTimeout(function() {
                flashMessage.classList.add('hide-flash');
            }, 3000); // 顯示時間為3秒後自動隱藏
        }
    });
    </script>
    <a href="/advanced"><h3>進階功能</h3><a>
    <a href="/logout"><h6>登出</h6></a>
</body>
</html>
